<div class="jumbotron"  style="background-image: linear-gradient(green, white);">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">{{description}}</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/articles" role="button">Learn more</a>
</div>